<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      IuLeysanProject
    </a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">
          Home
        </a>
      </li>
<!--      Here are links for registered users only-->
      <ng-container *ngIf="isLoggedIn$ | async">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/articles/new']">
            <i class="ion-compose"></i>
            &nbsp;&nbsp; New Post
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/settings']">
            <i class="ion-gear-a"></i>
            &nbsp;&nbsp; Settings
          </a>
        </li>

        <li class="nav-item">
<!--          First async and then username (currentUser$ | async).username -->
          <a class="nav-link" [routerLink]="['/profiles',(currentUser$ | async).username]">
            <i class="ion-person"></i>
            &nbsp; &nbsp; {{(currentUser$ | async).username}}
          </a>
        </li>
      </ng-container>
      <!--      Here are links when user is not logged in-->
      <ng-container *ngIf="isAnonymous$ | async">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">
            Sign In
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">
            Sign Up
          </a>
        </li>

      </ng-container>
    </ul>
  </div>
</nav>
