.banner h1{
  padding-top: 5%;
}


.home-page .banner {
  height: 40vh;
  background: url('images/leaves.jpg') no-repeat center top/ cover rgba(108, 93, 107, 1);

}

.profile-page .user-info {
  text-align: center;
  background: linear-gradient(0deg, rgba(35,107,68,1) 0%, rgba(253,247,45,1) 98%);
  padding: 2rem 0 1rem;
}

.banner {
  color: #fff;
  background: url('images/blackSand.jpg') no-repeat center top/ cover rgba(108, 93, 107, 1);
  padding: 2rem;
  margin-bottom: 2rem;
}

.navbar-brand, a {
  color: #236b44!important;
}

.btn-primary{
  background: linear-gradient(0deg, rgba(35,107,68,1) 0%, rgba(253,247,45,1) 98%);
}

.profile-page .user-info .action-btn {
 color: #050505;
}

.btn-info{
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.btn-warning{
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(233,233,148,1) 100%);
}
