.home-page .banner {
  height: 40vh;
  background: url('images/leaves.jpg') no-repeat center top/ cover rgba(108, 93, 107, 1);

}

.profile-page .user-info {
  text-align: center;
  background: url('images/studentYB.jpeg') no-repeat center top/ cover rgba(108, 93, 107, 1);
  padding: 2rem 0 1rem;
}

.banner {
  color: #fff;
  background: url('images/blackSand.jpg') no-repeat center top/ cover rgba(108, 93, 107, 1);
  padding: 2rem;
  margin-bottom: 2rem;
}

.navbar-brand {
  color: #236b44!important;
}
